// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	display:flex;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.headingFonts(){
	font-family:  'Belgrano', serif;
	font-size: 1rem;
	line-height: 2;
	text-transform: uppercase;
}

.bodyFonts(){
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
}

@sidebarbackgrouncolor: #00242b;
@titlebackgroundcolor: #03674f;
@bodybackgroundcolor: #eff9f2;
@sidebarheadingcolor: #78a1bb;

.center(){
	display:flex;
	justify-content: center;
	align-items: center;
}

div{
	max-width: 100%;
	border:1px solid grey;
}
section{
	border: 1px solid red;
}

h1, h2, h3{
	.headingFonts();
	h1{
		line-height: 1;
	}
}


/* Sidebar styling */

.sidebar {
	background-color: @sidebarbackgrouncolor;
	color: @sidebarheadingcolor;
	display:flex;
	width: 33vw;
	flex-flow:column nowrap;
	padding: 1% 2%;

	.pic{
		margin: 1% 23%;
		display:flex;
		height: 25%;
		.center();
		border-radius: 60%;
		overflow: hidden;

		img{
			object-fit: contain;
			max-width: 100%;
			max-height:100%;
		}
	}
}


/* title box styling */

.header{
	height: 25vh;
	flex-direction: column;
	display:flex;
	justify-content: center;
	background-color: @titlebackgroundcolor;
	h1, h2{
		color: @bodybackgroundcolor
	}
	h1{
		font-size:3rem;
		line-height: 1;
	}
	h2{
		font-size:2rem;
	}

}


/* body styling */

.body{
	width: 66vw;
	float:right;
	background-color: @bodybackgroundcolor;
}